.promotion-call, .modal-login, .modal-map {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #9fb3a8;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);

    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    
    align-items: center;
    font-size:16px;
    line-height: 20px;

    z-index: 1010;

    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
}

.modal-login {
    width: 400px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
}

.modal-login p {
    margin: 10px;
}

.modal-map {
    width: 600px;
    max-width: 100%;
    height: 450px;
    max-height: 100%;
    z-index: 1010;

    border: 7px solid white;
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1009;

    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 1010;

    border: none;
}

.modal-overlay {
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
    transition: 0.3s all;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 15px;
    left: 15px;

    width: 35px;
    height: 3px;

    background-color: #d0d0d0;    
}

.modal-map .modal-close::before, .modal-map .modal-close::after {
    background-color: #050505;
    z-index: 1011;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal.active,
.modal-overlay.active, .map.active, .login.active {
   opacity: 1;
   visibility: visible;
}

.promotion-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
    margin-top: 20px;
    flex-grow: 1;
}

.promotion-item {
    width: 200px;
    text-align: start;
    margin: 0;
}

.promotion-item-text {
    flex-grow: 1;
    text-align: center;
}

.promotion-item input {
    box-sizing: border-box;
    width: 200px;
    font: inherit;
    border: 2px solid #000000;
}

.promotion-item-text textarea {
    box-sizing: border-box;
    font: inherit;
}

.button {
    display: block;
    width: 30%;
    font: inherit;
    padding: 10px 30px;
    background-color: rgb(186, 247, 89);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    text-align: center;
}

.login-form .button {
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.login-checkbox {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    
}
.login-checkbox > input{
        text-decoration: none;
    }

.login-checkbox:hover, 
.login-checkbox:focus {
    color: #9bf5c8;    
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 1);
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0; 
    left: 0;

    width: 15px;
    height: 15px;

    border: 2px solid #000000;
    border-radius: 20%;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #000000;
    outline:  thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 7px;
    left: 1px;

    width: 13px;
    height: 2px;

    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

.restore {
    padding-left: 10px;
    color: rgb(186, 247, 89);
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
