/* @tablet-width: 768px;
@desktop-width: 1200px;
$mobile-width-only: 767px; */

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Roboto Condensed',Helvetica,sans-serif;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
    background: linear-gradient(to right, black, rgb(63, 62, 62), black);
    max-width: 1200px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

img {
    max-width: 100%;
    height: auto;   
}

.page-header {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 10px;
    height: 120px;
    margin: 10px 0;
    background: linear-gradient(340deg, rgba(255,0,0,0),rgba(255,0,0,.8), rgba(255,0,0,0) 80%);
}

.page-header__logo {
    height: 85px;
}

.main-nav__wrapper {
    display: grid;
    grid-template-columns: 1fr 150px;
    /* background: linear-gradient(rgb(39, 19, 19), rgb(92, 72, 72)); */
}

.site-list, .user-list {
    list-style: none;
    padding: 10px;
    text-align: center;
}

.site-list {
    display: flex;
    justify-content: space-around;
}

.user-list__login {
    color: rgb(186, 247, 89);
    text-shadow: 1px 1px 3px black;
}
